{% extends 'base.html' %}
{% block content %}

<h1>Edit Issue:{{issue.title}}</h1>

<form method="post">

	{% if issue.vote_count %}
		<div><b>Unable to change issue text once votes have been cast</b></div>
		Issue Title:
		<div>{{issue.title}}</div>
		
		Issue:
		<div>{{issue.description}}</textarea></div>
		
		Options:
		{% for choice in issue.choices %}
			<div>{{choice.name}}</div>
		{% endfor %}
		<!-- <div><input type="checkbox" name="allow_add" DISABLED/>Allow members to add choices (coming soon)</div> -->
		
		Duration:
		<div>
			{{issue.vote_count}} members have voted on this issue so far.
			{% if issue.days_left %}
				<b>{{issue.days_left}} days {{issue.hours_left}} hours</b> remaining before the vote closes.
			{% else %}
				{% if issue.hours_left %}
					<b>{{issue.hours_left}} hours</b> remaining before the vote closes.
				{% else %}
					<b>Less than an hour</b> remaining before the vote closes.
				{% endif %}
			{% endif %}
		</div>
		</br>
    	<div>Extend voting time by 
    		<select name="extend_amount">
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
				<option value="9">9</option>
				<option value="10">10</option>
				<option value="11">11</option>
				<option value="12">12</option>
			</select>
			<select name="extend_multiplier">
				<option value="1" selected>hour(s)</option>
				<option value="24">day(s)</option>
				<option value="168">week(s)</option>
			</select>
			<input type="submit" value="Extend Vote" name="extend">
		</div>
	{% else %}
		<div><b>You will be unable to change issue text once votes have been cast</b></div>
		Issue Title:
		<div><input type="text" name="title" value="{{issue.title}}" size="60"/></div>
		Issue:
		<div><textarea name="description" rows="5" cols="44"/>{{issue.description}}</textarea></div>
		Options:
		<div><input type="text" name="option1" size="60" value="{{choices.0.name}}"/></div>
		<div><input type="text" name="option2" size="60" value="{{choices.1.name}}"/></div>
		<div><input type="text" name="option3" size="60" value="{{choices.2.name}}"/></div>
		<div><input type="text" name="option4" size="60" value="{{choices.3.name}}"/></div>
		<div><input type="text" name="option5" size="60" value="{{choices.4.name}}" /></div>
		<!-- <div><input type="checkbox" name="allow_add"/>Allow members to add choices (coming soon)</div> -->
		Duration:
		<div><select name="duration_amount">
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
				<option value="9">9</option>
				<option value="10">10</option>
				<option value="11">11</option>
				<option value="12">12</option>
			</select>
			<select name="duration_multiplier">
				<option value="1">hour(s)</option>
				<option value="24" selected>day(s)</option>
				<option value="168">week(s)</option>
			</select>
			from
			<select name="duration_start">
				<option>the first vote</option>
			</select>
		</div>
		Visibility: (coming soon)
		<div><select>
				<option selected>Private (email link only)</option>
				<!--
				<option>All members</option>
				<optgroup label="Member Group">
					<option>Events</option>
					<option>Operations</option>
					<option>Other team</option>
				</optgroup>
				<optgroup label="Private Group">
					<option>Directors</option>
					<option>Other Private Group</option>
				</optgroup>
				-->
			</select>
		</div>
		</br>
		<div><input type="submit" value="Save Changes" name="save_changes"></div>
	{% endif %}
	
</form>

{% endblock %}